@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&display=swap');

.main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}

.block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    width: 600px;
}

.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
}

.img {
    width: 250px;
    height: 250pxs;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.tofee {
    font-size: 12px;
}